! Apply config use: xrdb -merge ~/.Xresources

! Use a nice truetype font and size by default... 
xterm*faceName: DejaVu Sans Mono Book
xterm*faceSize: 12

xterm*vt100*geometry: 100x50

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! I like a LOT of scrollback...
xterm*savelines: 2000

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! right hand side scrollbar...
xterm*rightScrollBar: true
xterm*ScrollBar: true

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

xterm*eightBitInput: false

xterm*VT100.Translations: #override \n
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)